@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #58699D;
    --darkBlue: #2A324B;
    --lightBlue: #E1E5EE;
    --white: #fff;
    --black: #000;
}

#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    main {
        width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;

        article {
            font-family: "Montserrat", serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: var(--white);
            max-width: 100%;
            height: auto;
            margin: 0;
            padding: 75px;
        }
    }
}
